<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" name="type_name" value='{$vo.type_name|default=""}' required="required" title="分类名称" placeholder="分类名称" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
     <label class="layui-form-label">套餐金额</label>
        <div class="layui-input-block">
            <input type="text" name="money" value='{$vo.money|default=""}' required="number" title="套餐金额" placeholder="套餐金额" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">股票数量</label>
        <div class="layui-input-block">
            <input type="text" name="shares" value='{$vo.shares|default=""}' required="number" title="股票数量" placeholder="股票数量" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>


</form>
