<header class="am-topbar header">
	<div class="am-container-1">
		<div class="left hw-logo">
		  <img class=" logo" src="img/HENGWANG.png"></img>
		  <img class="word" src="img/hw-word.png"></img>
  </div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span>
  </button>

  <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">
    <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
      <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
        {volist name="nav_list" id="nav" }
            <li {if $nav.controller_name eq $controller_name}class="hw-menu-active"{/if}><a href="{$nav.url}" title="{$nav.title}">{$nav.title}</a>
            </li>
        {/volist}
    </ul>
    </div>

  </div>
  </div>
</header>

<script>
    var curr_url = window.location.href;  //获取当前URL
    $('#menu li a').each(function(i,n){  //循环导航的a标签
        var href = $(this).attr('href'); //a标签中的href链接
        if(href == curr_url){  //如果当前URL,和a标签中的href相等。
            $(this).addClass('hw-menu-active');  //那么就给这个a标签增加home_page类。
        }
    })
</script>