{include file="public/header"}
{include file="public/nav"}
{include file="public/mobileheader"}


<table class="am-table  am-table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>股权编号</th>
            <!-- <th>套餐类别</th> -->
            <th>股票数量</th>
            <th>姓名</th>
            <!-- <th>手机号</th> -->
            <th>身份证</th><!-- 
            <th>地址</th>
            <th>银行卡</th>
            <th>银行信息</th> -->
            <th>时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    	{foreach $shares_list as $key=>$vo}
        <tr>
        	<td>{$key+1}</td>
            <td> </td>
            <!-- <td>{$vo.type_name}</td> -->
            <td>{$vo.shares}</td>
            <td>{$vo.last_name}{$vo.first_name}</td>
        	<!-- <td>{$vo.phone}</td> -->
        	<td>{$vo.code}</td><!-- 
        	<td>{$vo.address}</td>
        	<td>{$vo.banknum}</td>
        	<td>{$vo.bankinfo}</td> -->
            <td>{$vo.create_time}</td>
            {if $vo.status eq 1}
        	<td style="color: green">已通过</td>
            {/if}
            {if $vo.status eq 2}
            <td style="color: red">待验证</td>
            {/if}
            {if $vo.status eq 1}
            <td><a style="color: orange" href="">修改</a>|<a style="color: blue" href="">查看</a></td>
            {/if}
            {if $vo.status eq 2}
            <td style="color: black">无法操作</td>
            {/if}
        </tr>
        {/foreach}
    </tbody>

</table>

<style>
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
.pagination .active{background-color: #46A3FF;color: #fff;}  
.pagination .disabled{color:#aaa;} 
</style>

{if isset($page)}<p>{$page}</p>{/if}


{include file="public/footer"}