{include file="public/headeren"}
{include file="public/naven"}
{include file="public/mobileheaderen"}
    <!--===========layout-container================-->
  <!--   <div class="layout-container">
      <div class="page-header">
        <div class="am-container">
          <h1 class="page-header-title">Contact Us</h1>
        </div>
      </div>

      <div class="breadcrumb-box">
        <div class="am-container">
          <ol class="am-breadcrumb">
            <li><a href="../index.html">首页</a></li>
            <li class="am-active">联系我们</li>
          </ol>
        </div>
      </div>
    </div> -->

    <div class="section">
      <div class="container">
        <div class="section--header" style="margin: -50px">
					<h2 class="section--title">AGENT GROUP</h2>
					<p class="section--description">
            5 first level person & 25 second level person.
					</p>
				</div>

        <div class="section-container">
          <div class="am-g">
           

            <!--contact-right start-->
              <div class="am-u-md-12">
                <div class="contact-form">
                  <!-- <h3 class="contact-form_title">请写下你的加盟信息：</h3> -->
                  <form action="{$web_url.0.value}/referee_post" class="am-form" id="doc-vld-msg" method="POST">
                    <fieldset>
                    <legend>Please write down your referee information:</legend>
                    <div class="am-g">
                      <div class="am-u-md-6">
                        <p style="margin: 0">please choose referee level:</p>
                        <div class="am-form-group" style="background: #fcfcfc;">
                          <select id="doc-select-1" style="width: 100%;font-size: 16px;line-height: 20px;padding: 15px 20px;border-radius: 3px;color: #262626;border: 2px solid #e9e9e9;" required name="rtid">

                            {volist name="type_list" id="type" }
                                <option value="{$type.id}">{$type.rtype_name}</option>
                            {/volist}
                          </select>
                          <span class="am-form-caret"></span>
                        </div>
                      </div>

                      <div class="am-u-md-6">
                        <p style="margin: 0">if it's second level,please choose superior:</p>
                        <div class="am-form-group" style="background: #fcfcfc;">
                          <select id="doc-select-1" style="width: 100%;font-size: 16px;line-height: 20px;padding: 15px 20px;border-radius: 3px;color: #262626;border: 2px solid #e9e9e9;" required name="rrid">
                                <option value="0">NULL</option>
                                <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;optional superior:</option>
                            {volist name="referee_list" id="type" key="k"}
                                <option value="{$type.id}">{$k}-{$type.rname}</option>
                            {/volist}
                          </select>
                          <span class="am-form-caret"></span>
                        </div>
                      </div>
                    </div>
                    <div class="am-g">
                      <div class="am-u-md-4">
                        <input type="text" class="" id="doc-ipt-last" placeholder="name" name="rname" required >
                      </div>
                      <div class="am-u-md-4">
                        <input type="text" class="" id="doc-ipt-first" placeholder="email" name="remail" required>
                      </div>
                      <div class="am-u-md-4">
                        <input type="text" class="" id="doc-ipt-phone" placeholder="mobile" name="rphone"  required>
                      </div>
                    </div>

                    <div class="am-g">
                      <div class="am-u-md-6">
                        <input type="text" class="" id="doc-ipt-identy" placeholder="person ID" name="rcode"  required >
                      </div>
                      <div class="am-u-md-6">
                        <input type="text" class="" id="doc-ipt-address" placeholder="person address" name="raddress" required>
                      </div>
                    </div>
                    
                    <div class="am-g">
                      <div class="am-u-md-6">
                        <input type="number" class="" id="doc-ipt-banknum" placeholder="bank number" name="rbanknum" required>
                      </div>
                      <div class="am-u-md-6">
                        <input type="text" class="" id="doc-ipt-bankinfo" placeholder="bank infomation" name="rbankinfo" required>
                      </div>
                    </div>

                    

                    <!-- <div class=am-g>
                      <div class="am-u-md-12">
                        <div class="am-form-group">
                          <textarea class="" rows="5" id="doc-ta-1" placeholder="写下你想说的..."></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="am-g">
                      <div class="am-u-md-9">
                        <div class="am-form-group am-form-file">
                          <button type="button" class="am-btn am-btn-default am-btn-sm btn-change">
                            <i class="am-icon-cloud-upload"></i> 上传文件</button>
                          <input type="file" multiple>
                        </div>
                      </div>
                      <div class="am-u-md-3">
                        <p><button type="submit" class="am-btn am-btn-default btn-reguest am-fr btn-fl">提交</button></p>
                      </div>
                    </div> -->

                      <div class="am-u-md-12">
                        <p><button type="submit" class="am-btn am-btn-default btn-reguest am-fr btn-fl">SUBMIT</button></p>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            <!--contact-right end-->
          </div>
        </div>
      </div>
    </div>
  </div>
{include file="public/footeren"}