{include file="public/headercn"}
{include file="public/navcn"}
{include file="public/mobileheaderen"}


  <div class="section">
      <div class="container">
        <div class="section--header" style="margin: -50px">
          <h2 class="section--title">{$agent_name} - 代理成員列表</h2>
          <!-- <p class="section--description">
            subscribe to the original shares.
          </p> -->

          {if $agent_type eq 10}
          <div style="text-align: center;">
            <a href="http://127.0.0.1/groupcn.html" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus">註冊代理成員</span></a>
          </div>   
          {/if}   
          {if $agent_type eq 11}
          <div style="text-align: center;">
            <a href="http://127.0.0.1/groupcn.html" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus">註冊代理成員</span></a>
          </div>   
          {/if}  
          {if $agent_type eq 12}
          <h4 style="text-align: center;">你是二級代理，沒有成員</h4>
            
          {/if} 
            </div>
        </div>
      </div>
  </div>
<div class="am-panel-group" id="accordion" style="width: 80%; padding-left: 20%">

{if $agent_type eq 10}
  {foreach $first_list as $key=>$vo}
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{$key+1}'}">
        <div>一級成員:&nbsp;<a href="#">{$vo.agent_name}</a>&nbsp;&nbsp;郵箱:&nbsp;{$vo.email}
        &nbsp;&nbsp;登錄賬戶:&nbsp;{$vo.agentname}|密碼同賬戶</div>
      </h4>
    </div>
    <div id="do-not-say-{$key+1}" class="am-panel-collapse am-collapse am-in">
      <div class="am-panel-bd">
        <div class="card-box">
            <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                    <table class="am-table   am-text-nowrap">                     
                        {foreach $second_list[$key] as $k=>$v}
                        <tbody>
                            <tr>
                                <td>{$k+1}</td>
                                <td>二級成員:&nbsp;{$v.agent_name}</td>
                                <td>郵箱:&nbsp;{$v.email}</td>
                                <td>登錄賬戶:&nbsp;{$v.agentname}|密碼同賬戶</td>
                                <!-- <td>{$v.code}</td> -->
                                <td style="color: green">使用中</td>
                                <!-- <td>Coderthemes</td> -->
                            </tr>
                        </tbody>
                        {/foreach}
                    </table>
                </div>
        </div>
      </div>
    </div>
  </div>
  {/foreach}
{/if}
{if $agent_type eq 11}
      <div class="am-panel-bd">
        <div class="card-box">
            <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                    <table class="am-table   am-text-nowrap">                     
                        {foreach $first_list as $k=>$v}
                        <tbody>
                            <tr>
                                <td>{$k+1}</td>
                                <td>name:{$v.agent_name}</td>
                                <td>email:{$v.email}</td>
                                <td>登錄賬戶:&nbsp;{$v.agentname}|密碼同賬戶</td>
                                <td style="color: green">使用中</td>
                                <!-- <td>Coderthemes</td> -->
                            </tr>
                        </tbody>
                        {/foreach}
                    </table>
              </div>
        </div>
      </div>
{/if}
{if $agent_type eq 12}
{/if}
</div>
                   

{include file="public/footercn"}