{include file="public/headeren"}
{include file="public/naven"}
{include file="public/mobileheaderen"}

<div class="section">
    <div class="container">
        <div class="section--header" style="margin: -50px">
            <h2 class="section--title">{$agent_name} - holder shares customer list</h2>
            <!-- <p class="section--description">
                subscribe to the original shares.
            </p> -->
            <div style="text-align: center;">
            <a href="http://127.0.0.1/holder.html" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus">REGISTER</span></a></div>       
            </div>

        </div>
    </div>
</div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                        <tr style="color: balck">
                            <!-- <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th> -->
                            <th class="table-id">No.</th>
                            <th class="table-title">Type</th>
                            <th class="table-type">Name</th>
                            <th class="table-date am-hide-sm-only">Email</th>
                            <th class="table-date am-hide-sm-only">Time</th>
                            <th class="table-date am-hide-sm-only">Status</th>
                            <!-- <th class="table-set">opreate</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $list as $key=>$vo}
                        <tr>

                            <!-- <td><input type="checkbox"></td> -->
                            <td>{$key+1}</td>
                            <td style="color: red">{$vo.type_name}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.email}</td>
                            <td>{$vo.update_time}</td>
                            {if $vo.status eq 1}
                            <td style="color: green">Activated</td>
                            {/if}
                            {if $vo.status eq 2}
                            <td style="color: red">verifying</td>
                            {/if}
                           <!-- <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> edit</button>
                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> cancel</button>
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                        {/foreach}
                    </tbody>
                </table>             
            </form>
                <style>
                .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
                .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
                .pagination .active{background-color: #46A3FF;color: #fff;}  
                .pagination .disabled{color:#aaa;} 
                </style>
            <div style="float: center">
                {if isset($page)}<p>{$page}</p>{/if}
            </div>
        </div>

    </div>





{include file="public/footeren"}