    <!--mobile header start-->
    <div class="m-header">
      <div class="am-g am-show-sm-only">
        <div class="am-u-sm-2">
          <div class="menu-bars">
            <a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
            <!-- 侧边栏内容 -->
            <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas >
            <a href="javascript: void(0)" class="am-menu-toggle"></a>

            <div class="am-offcanvas" >
              <div class="am-offcanvas-bar">
              <ul class="am-menu-nav am-avg-sm-1">
                <li class="am-parent">
                    <a href="" class="nav-icon nav-icon-globe" >Language</a>
                      <ul class="am-menu-sub am-collapse  ">
                          <li>
                            <a href="{$web_url.0.value}/index_en.html" >English</a>
                          </li>
                          <li class="">
                            <a href="{$web_url.0.value}/index.html" >Chinese</a>
                          </li>
                      </ul>
                  </li>

                {volist name="nav_list_en" id="nav" }
                  <li><a href="{$nav.url}" title="{$nav.title}">{$nav.title}</a></li>
                {/volist}
                  
                {if $login_status eq 0 }
                <li class=""><a href="{$web_url.0.value}/loginen.html" class="" >login</a></li>
                {/if}
                
                {if $login_status eq 1 }
                <li class=""><a href="{$web_url.0.value}/logouten.html" class="" >logout</a></li>
                <li class=""><a style="color: red">Login Name:{$agent_name|default="none"}</a></li>
                {/if}
                
                
                <!-- <li class=""><a href="html/register.html" class="" >注册</a></li> -->

              </ul>

              </div>
            </div>
          </nav>

          </div>
        </div>
        <div class="am-u-sm-5 am-u-end">
          <div class="m-logo">
            <a href=""><img src="__KUI__/images/flogo.png" alt=""></a>
          </div>
        </div>
      </div>
    <!--mobile header end-->
    </div>
