
        <!--nav start-->
        <div class="nav-contain">
          <div class="nav-inner">
            <!-- <ul class="am-nav am-nav-pills am-nav-justify"> -->
            <ul class="am-nav am-nav-pills">

            {volist name="nav_list_en" id="nav" }
                <li><a href="{$nav.urlcn}" title="{$nav.titlecn}">{$nav.titlecn}</a>
                </li>
            {/volist}
              <!-- <li>
                <a href="#">Share Holder</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="http://127.0.0.1/holder.html">Apply</a></li>
                  <li class="menu-item"><a href="http://127.0.0.1/holder_info.html">Infomation</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Private Equity</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="http://127.0.0.1/equity.html">Apply</a></li>
                  <li class="menu-item"><a href="http://127.0.0.1/equity_info.html">Infomation</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Ours Group</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="http://127.0.0.1/group.html">Increase</a></li>
                  <li class="menu-item"><a href="http://127.0.0.1/group_info.html">Infomation</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
        <!--nav end-->
      </div>
    </div>

<!-- <script>
    var curr_url = window.location.href;  //获取当前URL
    $('#menu li a').each(function(i,n){  //循环导航的a标签
        var href = $(this).attr('href'); //a标签中的href链接
        if(href == curr_url){  //如果当前URL,和a标签中的href相等。
            $(this).addClass('active');  //那么就给这个a标签增加home_page类。
        }
    })
</script> -->
