{include file="public/header"/}
<div class="header">
    <div class="rowFluid">
        <div class="span2 col-md-12">
            <div class="logo">
                <a href="/" title="返回首页">
                    <img src="__IMG__/logo.png" alt="深圳网站建设公司_深圳网站设计_深圳网站制作_深圳免费网站制作" /></a>
            </div>
        </div>
        {include file="public/nav"/}
        <div class="span2">

            <div class="login" id="_userlogin">
                <li class="toptel" style="margin-right:0px;">
                    <img src="__IMG__/dongtaitel.gif">
                    <img src="__IMG__/top-tel.png">
                </li>
            </div>
        </div>
    </div>
</div>
<div class="aside">
    <ul>

        <li><a href="#" target="_blank"><img src="__IMG__/057.png" alt="人工服务" />客服</a></li>
        <li class="consulting"><a href="#" title="建站在线客服"><span></span><span></span><span></span><img src="__IMG__/059.png" class="img1" alt="建站在线客服" /><img src="__IMG__/061.png" class="img2" alt="建站在线客服" />咨询</a></li>
        <li> <a href="help.html"><img src="__IMG__/060.png" alt="建站帮助中心" />帮助</a> </li>
    </ul>
</div>
<div class="consulting_box">
    <div class="title">
        <div class="title_t1">RELATEED CONSULTING</div>
        <div class="title_t2">相关咨询 </div>
    </div>
    <div class="consulting_type">
        <div class="consulting_type_title">QQ通讯客服</div>
        <ul>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="响应式建站咨询"> <img src="__IMG__/062.png" class="img1" alt="网站建设" /><img src="__IMG__/063.png" class="img2" alt="响应式网站咨询" />企业QQ客服 </a> </li>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="建站平台加盟咨询"> <img src="__IMG__/062.png" class="img1" alt="建站平台" /><img src="__IMG__/063.png" class="img2" alt="建站平台代理咨询" />加盟咨询 </a> </li>
            <li> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=980218641&site=qq&menu=yes" title="响应式网站定制"> <img src="__IMG__/062.png" class="img1" alt="响应式网站定制" /><img src="__IMG__/063.png" class="img2" alt="响应式网站定制" />定制咨询 </a> </li>
        </ul>
        <div class="consulting_type_title">电话通讯客服</div>
        <ul>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 服务热线：40086 15257 </a> </li>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 固定电话：023-81301630 </a> </li>
            <li> <a target="_blank" href="JavaScript:;" title="响应式建站咨询"> 售前咨询：189-8340-1091 </a> </li>
        </ul>

        <div class="time">服务时间：9:30-18:00</div>

    </div>
    <div class="problem">
        <div class="problem_title">你可能遇到了下面的问题</div>
        <ul>
            <li><span></span><a href="/help/seo/41.html" title="404页面该怎么做？">404页面该怎么做？</a></li>
            <li><span></span><a href="/help/seo/40.html" title="SEO菜鸟需要掌握哪些基本SEO技巧？">SEO菜鸟需要掌握哪些基本SEO技巧？</a></li>
            <li><span></span><a href="/help/seo/39.html" title="几大搜索引擎的网站登录入口">几大搜索引擎的网站登录入口</a></li>
            <li><span></span><a href="/help/seo/38.html" title="手把手教你做百度推广">手把手教你做百度推广</a></li>
            <li><span></span><a href="/help/seo/37.html" title="页面无用时间信息导致网页不被抓取">页面无用时间信息导致网页不被抓取</a></li>

        </ul>
    </div>
    <div class="close"> <img src="__IMG__/close.png" alt="关闭右侧工具栏" /> </div>
</div>
<div class="page">
    <div class="rowFluid">
        <div class="span12">
            <div class="main">
                <div class="page">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="main">
                                <div class="z_banner support_z_banner">
                                    <div class="rowFluid">
                                        <div class="span12">
                                            <div class="container">
                                                <h3 class="z_banner_title">解决方案</h3>
                                                <div class="z_banner_text"> 帮助您快速响应市场变化拓展，布局全渠道，构建生态互联网 </div>
                                            </div>
                                            <ul class="platform_advantage_bg_z">
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="kzf-mod-product">
                                    <div class="rowFluid">
                                        <div class="container">
                                            <div class="kzf-mod-product-header wow fadeInUp">
                                                <h1 class="kzf-mod-product-title">产品与服务</h1>
                                                <p class="kzf-mod-product-brief">我们提供数字平台建设与数字产品设计运营的全产业链服务，从设计制作到开发运营，一站式帮您搞定。</p>
                                            </div>
                                            <div class="kzf-mod-product-content">
                                                {volist name="service_list" id="item"}
                                                <div class="span3 col-sm-6">
                                                    <div class="kzf-mod-product-list wow {$item.css}">
                                                        <img src="{$item.icon}" alt="{$item.title}" />
                                                        <div class="kzf-mod-product-list-title">{$item.title}</div>
                                                        {volist name="$item['description']" id="sitem"}
                                                        <p>{$sitem}</p>
                                                        {/volist}

                                                    </div>
                                                </div>
                                                {/volist}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kzf-mod-custom">
                                    <div class="rowFluid">
                                        <div class="container">
                                            <div class="kzf-mod-custom-header wow fadeInUp">
                                                <h1 class="kzf-mod-custom-title">高端定制流程</h1>
                                                <p class="kzf-mod-custom-brief">用前沿的思维制作交互式用户体验的高端网站，正是我们的优势所在。</p>
                                            </div>
                                            <div class="kzf-mod-custom-content">
                                                <div class="col-xs-12">
                                                    {volist name="process_list" id="item" offset="1" length='7'}
                                                    <div class="kzf-mod-custom-list wow fadeInUp" style="animation-delay: {$item.time}s;"> <img src="{$item.icon}" alt="{$item.title}" />
                                                        <div class="kzf-mod-custom-list-title">{$item.title}</div>
                                                        <p>{$item.description}</p>
                                                    </div>
                                                    {/volist}

                                                </div>
                                               <!-- <div class="col-xs-12">


                                                  <div class="kzf-mod-custom-list wow fadeInUp" style="animation-delay: 0.3s;">
                                                        <img src="__IMG__/mod-custom04.png" alt="响应式网站建设-视觉创意" />
                                                        <div class="kzf-mod-custom-list-title">视觉创意</div>
                                                        <p>色彩及平面元素设定，结构和布局规范确认</p>
                                                   </div>
                                                   <div class="kzf-mod-custom-list wow fadeInUp" style="animation-delay: 0.4s;">
                                                    <img src="__IMG__/mod-custom05.png" alt="响应式网站建设-前端制作" />
                                                        <div class="kzf-mod-custom-list-title">前端制作</div>
                                                        <p>HTML5、CSS3、JS实现页面的动态展示</p>
                                                   </div>
                                                    < div class="kzf-mod-custom-list wow fadeInUp" style="animation-delay: 0.5s;"> <img src="__IMG__/mod-custom06.png" alt="响应式网站建设-技术开发" />
                                                        <div class="kzf-mod-custom-list-title">技术开发</div>
                                                        <p>移动应用数据对接与开发</p>
                                                    </div>
                                                </div>-->
                                                <!--<div class="kzf-mod-custom-list kzf-mod-custom-list-last wow fadeInUp " style="animation-delay: 0.6s;"> <img src="__IMG__/mod-custom07.png" alt="响应式网站建设-测试反馈" />-->
                                                    <!--<div class="kzf-mod-custom-list-title">测试反馈</div>-->
                                                    <!--<p>修改调整，规范完善</p>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kzf-mod-case-container">
                                    <div class="rowFluid">
                                        <div class="container">
                                            <div class="span12">
                                                <div class="kzf-mod-case-out">
                                                    <div class="kzf-mod-so-title-box wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                                                        <h3 class="kzf-so-title">经典案例</h3>
                                                        <div class="kzf-so-text">精选特殊网站案例，分享创意与智慧</div>
                                                    </div>
                                                    <div class="kzf-mod-case-box">
                                                        {volist name="case_list" id="item"}
                                                        <div class="span6 col-sm-12">
                                                            <a href="{$item.url}" title="{$item.name}">
                                                                <div class="kzf-mod-wrap wow fadeInUp">
                                                                    <div class="kzf-mod-pic"> <img src="{$item.logo}" alt="{$item.name}" /> </div>
                                                                    <div class="kzf-mod-title">
                                                                        <p>{$item.name}</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        {/volist}
                                                        <!--<div class="span6 col-sm-12">
                                                            <a href="" title="">
                                                                <div class="kzf-mod-wrap wow fadeInUp">
                                                                    <div class="kzf-mod-pic"> <img src="__IMG__/1-1609162230080-l.png" alt="探长网络网络建站网站案例：潮连旅游网" /> </div>
                                                                    <div class="kzf-mod-title">
                                                                        <p>探长网络网络建站网站案例：潮连旅游网</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="span6 col-sm-12"> <a >
                                                            <div class="kzf-mod-wrap wow fadeInUp">
                                                                <div class="kzf-mod-pic"> <img src="__IMG__/1-1609162239130-l.png" alt="探长网络网络建站网站案例：东泉展览官网" /> </div>
                                                                <div class="kzf-mod-title">
                                                                    <p>探长网络网络建站网站案例：东泉展览官网</p>
                                                                </div>
                                                            </div>
                                                        </a> </div>
                                                        <div class="span6 col-sm-12"> <a >
                                                            <div class="kzf-mod-wrap wow fadeInUp">
                                                                <div class="kzf-mod-pic"> <img src="__IMG__/1-1609162250280-l.png" alt="探长网络网络建站网站案例：佰亮照明" /> </div>
                                                                <div class="kzf-mod-title">
                                                                    <p>探长网络网络建站网站案例：佰亮照明</p>
                                                                </div>
                                                            </div>
                                                        </a> </div>
                                                        <div class="span6 col-sm-12"> <a >
                                                            <div class="kzf-mod-wrap wow fadeInUp">
                                                                <div class="kzf-mod-pic"> <img src="__IMG__/1-1609162253130-l.png" alt="探长网络网络建站网站案例：如艺照明" /> </div>
                                                                <div class="kzf-mod-title">
                                                                    <p>探长网络网络建站网站案例：如艺照明</p>
                                                                </div>
                                                            </div>
                                                        </a> </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kzf-mod-link-container">
                                    <div class="rowFluid">
                                        <div class="container">
                                            <div class="span12">
                                                <div class="kzf-mod-link-out">
                                                    <div class="kzf-mod-so-title-box wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                                        <h3 class="kzf-so-title">联系我们</h3>
                                                        <div class="kzf-so-text">一切良好工作的开始，都需相互之间的沟通搭桥，欢迎咨询。</div>
                                                    </div>
                                                    <div class="rowFluid">
                                                        <div class="kzf-mod-link-inf-box">
                                                            <div class="span3 col-sm-6 col-xs-12"> <a href="tel:4008615257">
                                                                <div class="kzf-mod-wrap wow fadeInLeft">
                                                                    <div class="kzf-mod-pic"> <img src="__IMG__/so-iphone.png" alt="联系网站建设电话"/> </div>
                                                                    <div class="kzf-mod-txt">
                                                                        <p>4008615257</p>
                                                                    </div>
                                                                </div>
                                                            </a> </div>
                                                            <div class="span3 col-sm-6 col-xs-12"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=980218641" target="_blank">
                                                                <div class="kzf-mod-wrap wow fadeInRight">
                                                                    <div class="kzf-mod-pic"> <img src="__IMG__/so-qq.png" alt="联系QQ" /> </div>
                                                                    <div class="kzf-mod-txt">
                                                                        <p>980218641</p>
                                                                    </div>
                                                                </div>
                                                            </a> </div>
                                                            <div class="span3 col-sm-6 col-xs-12"> <a href="mailto:admin@023jz.com">
                                                                <div class="kzf-mod-wrap wow fadeInLeft">
                                                                    <div class="kzf-mod-pic"> <img src="__IMG__/so-mail.png" alt="联系网站建设邮箱" /> </div>
                                                                    <div class="kzf-mod-txt">
                                                                        <p>service@99it.cn</p>
                                                                    </div>
                                                                </div>
                                                            </a> </div>
                                                            <div class="span3 col-sm-6 col-xs-12"> <a href="#">
                                                                <div class="kzf-mod-wrap wow fadeInRight">
                                                                    <div class="kzf-mod-pic"> <img src="__IMG__/so-location.png" alt="联系网站建设地址" /> </div>
                                                                    <div class="kzf-mod-txt">
                                                                        <p>重庆市巴南区南泉南泉街道白鹤林16号</p>
                                                                    </div>
                                                                </div>
                                                            </a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="rowFluid">
                                        <div class="span12">
                                            <div class="copyright">Copyright &#169; 2014-2016 <a href="http://www.99it.cn" title="重庆网站建设,重庆网站定制,重庆商城开发,重庆电商网站,重庆响应式网站建设,重庆HTML5网站建设,重庆营销型网站建设" target="_blank">www.99it.cn</a> <a href="http://www.99it.cn" title="探长网络" alt="重庆网站建设,重庆网站定制,重庆商城开发,重庆电商网站,重庆响应式网站建设,重庆HTML5网站建设,重庆营销型网站建设" target="_blank">探长网络</a> 版权所有  <a href="http://www.miit.gov.cn/" target="_blank" title="探长网络备案查询">渝ICP备15000861号-1</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

