<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">银行流水</label>
        <div class="layui-input-block">
            <input type="text" name="remark" value='{$vo.remark|default=""}' required="required" title="银行流水" placeholder="请记录银行流水" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">信息记录</label>
        <div class="layui-input-block">
            <input type="text" name="infomark" value='{$recordname}@{$update_time}:record|' required="required" title="信息记录" placeholder="信息记录" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">时间更新</label>
        <div class="layui-input-block">
            <input type="text" name="update_time" value='{$update_time}' required="required" title="时间更新" placeholder="时间更新" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>


</form>
