{extend name='extra@admin/content'}

{block name='content'}

<!--右侧编辑区 开始-->
<div class="panel panel-default" style="overflow:hidden">
    <div class="panel-heading">文章编辑</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" name="news" action="__SELF__" data-auto="true" method="post">

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">标题</span>
                        <input maxlength="64" required="required" value="{$vo.title|default=''}" title="标题不能为空哦" placeholder="请在这里输入标题" name='title' class="layui-input">
                        <input type="hidden" name="id">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label class="label-required" style="color:#ccc">文章分类</label>

                    <select name='cate_id' class='layui-select full-width' style='display:block'>
                        <!--{foreach $catelist as $cate}-->
                        <!--{eq name='cate.id' value='$vo.cate_id|default=0'}-->
                        <option selected  value='{$cate.id}'>{$cate.name}</option>
                        <!--{else}-->
                        <option  value='{$cate.id}'>{$cate.name}</option>
                        <!--{/eq}-->
                        <!--{/foreach}-->
                    </select>
                </div>

            </div>

            <div class="form-group" data-keys-type='image'>
                <div class="col-md-12">
                        <label class="label-required" style="color:#ccc">图文封面</label>
                        <input type="hidden" class="layui-input" onchange="$(this).nextAll('img').attr('src', this.value);" value="{$vo.image|default=''}" name="image" required="required" title="请上传图片或输入图片URL地址"/>
                        <p class="help-block">文件最大2Mb，支持png/jpeg/jpg/gif格式</p>
                        <img style="width:112px;height:auto;" data-tips-image src='{$vo.image|default="__PUBLIC__/static/theme/default/img/image.png"}'/>
                        <a data-file="one" data-type="png,jpeg,jpg,gif" data-field="image" class='btn btn-link'>上传图片</a>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label style="color:#ccc">文章正文</label>
                    <textarea  required="required" title="内容不能为空哦" placeholder="请在这里编辑内容" name='content'>{$vo.content|default=''}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label style="color:#aaa">文章简介</label>
                    <textarea name="brief" class="layui-input" style="height:80px;resize:none;line-height:20px">{$vo.brief|default=''}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label style="display:block"><span style="color:#aaa;">原文链接<b>选填</b>，填写之后在图文左下方会出现此链接</span>
                        <input maxlength="200" name='url' class="layui-input" value="{$vo.url|default=''}">
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <!--<button data-submit type="button" class="layui-btn">保存图文</button>-->
                        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
                        <button class="layui-btn" type='submit'>保存数据</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--右侧编辑区 结束-->

{/block}


{block name='script'}
<script>
    $(function () {

        var editDdata = {$vo.articles | default = [] | json_encode};

        for (var i in editDdata) {
            $('.news-item').eq(i).data('item', editDdata[i]);
        }

        $('body').on('change', '.upload-image-box input', function () {
            $('.news-item.active').css('background-image', 'url(' + this.value + ')');
            $(this).parent('.upload-image-box').css('background-image', 'url(' + this.value + ')');
        });

        require(['ueditor'], function () {

            /*! 实例富文本编辑器  */
            var editor, $item;

            /*! 默认编辑第一篇图文 */
            editor = window.createEditor('[name="content"]', 'basic');

            /*! 编辑器初始化成功 */
            editor.ready(function () {

                var $form = $('form[name="news"]'), $body = $('body');

                $form.validate();

                /*! 数据提交 */
                $form.find('button[data-submit]').on('click', function () {
                    var data = [];
                    $form.submit();
                    if (!syncEditor($('.news-item.active'))) {
                        editor.setContent('文章内容不能留空，请输入内容！');
                        return false;
                    }
                    $('.news-item').map(function () {
                        var item = $(this).data('item');
                        item.content = item.content || '文章内容不能留空，请输入内容！';
                        data.push(item);
                    });
                    $.form.load('__SELF__', {data: data}, "post");
                });

                /*! 输入标题显示 */
                $form.find('[name="title"]').on('keyup', function () {
                    if ($item) {
                        $item.find('.news-title').html(this.value).show();
                    }
                });

                /*! 同步编辑器 */
                function syncEditor($pItem) {
                    // 处理上一个编辑器
                    if ($form && $pItem && $pItem.size() > 0) {
                        var data = {};
                        data.id = $form.find('[name=id]').val();
                        data.title = $form.find('[name=title]').val();
                        data.local_url = $form.find('[name=local_url]').val();
                        data.content = editor.getContent() || '';
                        data.author = $form.find('[name=author]').val();
                        data.digest = $form.find('[name=digest]').val();
                        data.show_cover_pic = $form.find('[name="show_cover_pic"]').get(0).checked ? 1 : 0;
                        $form.find('[name=local_url]').trigger('change');
                        $pItem.data('item', data), $form.submit();
                        if ($form.find('input.validate-error').size() > 0 || data.content.length < 1) {
                            ((data.content || '').length < 1) && editor.setContent('文章内容不能留空，请输入内容！');
                            $pItem.addClass('active').siblings().removeClass('active');
                            return false;
                        }
                    }
                    return true;
                }

                /*! 显示编辑器 */
                function showEditor() {
                    // 读取对象数据
                    $item = $('.news-item.active');
                    this.get = function () {
                        var data = $item.data('item') || {};
                        data.id = data.id || 0;
                        data.title = data.title || '';
                        data.local_url = data.local_url || '__PUBLIC__/static/plugs/uploader/theme/image.png';
                        data.content = data.content || '';
                        data.author = data.author || '';
                        data.digest = data.digest || '';
                        data.show_cover_pic = data.show_cover_pic || 0;
                        return data;
                    };
                    // 重置表单
                    $form.get(0).reset();
                    // 获取当前数据
                    var data = this.get();
                    for (var i in data) {
                        if (i !== 'content' && i !== 'show_cover_pic') {
                            $form.find('[name="' + i + '"]').val(data[i]).trigger('change');
                        }
                    }
                    if (parseInt(data.show_cover_pic) === 1) {
                        $form.find('[name="show_cover_pic"]').get(0).checked = true;
                    }
                    editor.setContent(data.content);
                }

                /*! 添加新图文 */
                $body.off('click', '.news-box .article-add').on('click', '.news-box .article-add', function () {
                    var $html = $('<div class="news-item transition" style="background-image:url(__PUBLIC__/static/plugs/uploader/theme/image.png)"><a class="upload-multiple-close fa fa-close hide"></a><span class="news-title"></span></div><hr />');
                    $html.insertBefore(this).trigger('click');
                    $('.news-item').size() >= 7 && $(this).hide();
                });

                /*! 列表选择 */
                $body.off('click', '.news-item').on('click', '.news-item', function () {
                    if (syncEditor($('.news-item.active'))) {
                        $(this).addClass('active').siblings().removeClass('active');
                        showEditor($item);
                    }
                });

                /*! 隐藏删除按钮 */
                $body.off('mouseleave').on('mouseleave', '.news-item', function () {
                    $(this).find('.upload-multiple-close').addClass('hide');
                });

                /*! 显示删除按钮 */
                $body.off('mouseenter', '.news-item').on('mouseenter', '.news-item', function () {
                    $('.upload-multiple-close').addClass('hide');
                    $(this).find('.upload-multiple-close').removeClass('hide');
                });

                /*! 删除操作图文 */
                $body.off('click', '.upload-multiple-close').on('click', '.upload-multiple-close', function () {
                    var $box = $(this).parents('.news-item');
                    $box.add($box.next('hr')).remove();
                    $('.news-item').size() < 7 && $('.news-box .article-add').show();
                });

                /*! 默认显示第一个 */
                $('.news-box .news-item:first').trigger('click');
            });
        });
    });
</script>
{/block}

{block name="style"}
<style>
    .panel{border-radius:0}
    .news-left {left:20px;width:300px;position:absolute;}
    .news-right {position:absolute;left:335px;right:20px;}
    .news-left .news-item {position:relative;width:280px;height:150px;max-width:270px;overflow:hidden;border:1px solid #ccc;background-size:cover;background-position:center center;}
    .news-left .news-item.active {border:1px solid #44b549 !important;}
    .news-left .article-add {font-size:22px;text-align:center;display:block;color:#999;}
    .news-left .article-add:hover{color:#666;}
    .news-left .news-title{bottom:0;width:272px;color:#fff;display:block;padding:0 5px;overflow:hidden;position:absolute;margin-left:-1px;text-overflow:ellipsis;max-height:6em;background:rgba(0,0,0,0.7);}
    .news-right .layui-input{border-radius:0;border:1px solid #e5e6e7;}
    .news-right .layui-input:hover, .news-right .layui-input:focus{border-color:#e5e6e7!important;}
    .news-right .input-group-addon{background:#fff;border-radius:0;border-color:#e5e6e7;}
    .news-right .upload-image-box{width:130px;height:90px;background-size:cover;background-position:center center;border:1px solid rgba(125,125,125,0.1);margin:5px}
    .news-item .upload-multiple-close{width:30px;height:30px;line-height:30px;text-align:center;background-color:rgba(0,0,0,.5);color:#fff;float:right;}
    .news-item .upload-multiple-close:hover{text-decoration:none}
    .edui-default .edui-editor{border-radius:0!important}
</style>
{/block}