{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <!-- <a href='{:url("$classuri/out")}' data-title="添加分类" class='layui-btn layui-btn-small layui-btn-normal'>
    <i class='glyphicon glyphicon-share-alt'></i> 导出数据
    </a> -->
    <button data-modal='{:url("$classuri/add_agent")}' data-title="ADD AGENT" class='layui-btn layui-btn-small'>
    <i class='fa fa-plus'></i> add agent
    </button>
    <!-- button data-update data-field='delete' data-action='{:url("$classuri/del_cate")}' class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除分类
    </button> -->
</div>
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="agent_name" value="{$Think.get.agent_name|default=''}" placeholder="agent name" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="person" value="{$Think.get.person|default=''}" placeholder="person" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> search</button>
            </div>
        </div>
    </div>
</form>

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th>No.</th>
            <!-- <th>代理区域</th> -->
            <th>agent</th>
            <th>person</th>
            <th>phone</th>
            <th>email</th>
            <th>agentname</th>
            <th>password</th>
            <th class='text-center'>status</th>
            <th class='text-center'>operating</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td>{$key+1}</td>
            <!-- <td>{$vo.area|default=""}</td> -->
            <td>{$vo.agent_name|default=""}</td>
            <td>{$vo.person|default=""}</td>
            <td>{$vo.phone|default=""}</td>
            <td>{$vo.email|default=""}</td>
            <td>{$vo.agentname|default=""}</td>
            <td>{$vo.password|default=""}</td>
            <td class='text-center'>
                {if $vo.status eq 0}
                <span>forbidden</span>
                {elseif $vo.status eq 1}
                <span style="color:#090">in use</span>
                {/if}
            </td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit_agent")}
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit_agent")}?id={$vo.id}' href="javascript:void(0)">edit</a>
                {/if}

                {if $vo.status eq 1 and auth("$classuri/agent_forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/agent_forbid")}' href="javascript:void(0)">forbid</a>
                {elseif auth("$classuri/agent_resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/agent_resume")}' href="javascript:void(0)">resume</a>
                {/if}
                <!-- {if auth("$classuri/del_cate")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='del' data-action='{:url("$classuri/del_cate")}'
                   href="javascript:void(0)">删除</a>
                {/if} -->
            </td>

        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}